<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='m_login.css') }}">
</head>
<body>
<div class="login_wrap">

    <ul class="menu_wrap" role="tablist">
        <li class="menu_item" role="presentation">
            <span class="menu_text"><span class="text">ID/전화번호</span></span>
        </li>
    </ul>
    <ul class="panel_wrap">
        <li class="panel_item" style="display: block;">
            <div class="panel_inner" role="tabpanel" aria-controls="loinid">
                <div class="login_form">
                    <div class="login_box">
                        <div class="input_item id" id="input_item_id">
                            <input type="text" id="id" name="id" accesskey="L" maxlength="41" autocapitalize="none"
                                   value="" title="아이디" class="input_id" aria-label="아이디 또는 전화번호">
                            <label for="id" class="text_label" id="id_label" aria-hidden="true">아이디 또는 전화번호</label>

                        </div>
                        <div class="input_item pw" id="input_item_pw">
                            <input type="password" id="pw" name="pw" title="비밀번호" class="input_pw" maxlength="16"
                                   aria-label="비밀번호">
                            <label for="pw" class="text_label" id="pw_label" aria-hidden="true">비밀번호</label>
                        </div>
                    </div>
                </div>
                <div class="login_keep_wrap" id="login_keep_wrap">
                    <div class="keep_check  " id="keep" role="checkbox" aria-checked="false" tabindex="0">
                        <input type="checkbox" id="nvlong" name="nvlong" tabindex="-1" class="input_keep"
                               value="off">
                        <span for="keep" class="keep_text">로그인 상태 유지</span>
                    </div>

                </div>

                <div class="btn_login_wrap">
                    <button type="submit" class="btn_login next_step nlog-click off" id="log.login">
                        <span class="btn_text" id="log.login.text">로그인</span>
                    </button>
                </div>
            </div>
        </li>
    </ul>
</div>

</body>