{% extends 'base.html' %}
{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='m_time.css') }}">
{% endblock %}


{% block content %}

    <div class="time-main">
        <form method="POST">
            {{ form.hidden_tag() }}

            <div class="form-group1">
                <label for="day">{{ form.day.label }}</label>
                {{ form.day(class="form-control time-form", id="day") }}
                {% for error in form.day.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="form-group">
                <label for="times">{{ form.times.label }}</label>
                {{ form.times(class="form-control time-form", id="times", multiple="multiple") }}
                {% for error in form.times.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>

            <button type="submit" class="btn btn-primary">저장</button>
        </form>
    </div>
{% endblock %}