.menu_wrap {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.menu_item {
    position: relative;
    display: table-cell;
    vertical-align: top;
}

.menu_text {
    position: relative;
    padding-left: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -.5px;
    color: #777;
    vertical-align: middle;
}

.panel_wrap {
    position: relative;
    z-index: 3;
    margin-top: -10px;
}

.panel_item {
    border: 1px solid #e1e3e5;
    border-radius: 12px;
    background-color: #fff;
}

.panel_inner {
    padding: 24px;
}


.login_wrap {
    width: 460px;
    margin: 0 auto;
    box-sizing: border-box;
}

.login_form {
    position: relative;
}

.login_box {
    /* 별도 스타일 없음 */
}

.input_item {
    position: relative;
    padding: 27px 15px 8px;
    border: 1px solid #c5ccd2;
    border-radius: 8px;
    box-sizing: border-box;
    z-index: 1;
}

.input_item.id {
    height: 60px;
    border-radius: 8px 8px 0 0;
}

.input_item.pw {
    height: 59px;
    border-top: 0;
    border-radius: 0 0 8px 8px;
}

/* 포커스 상태에 대한 추가 스타일 */
.input_item.id.focus::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: 10;
}

.input_id, .input_pw {
    border: none;
    outline: none; /* 포커스 시 생기는 테두리 제거 */
}

.input_id, .input_pw {
    position: relative;
    display: block;
    width: 100%;
    height: 22px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -.2px;
    color: #1e1e23;
    z-index: 5;
    outline: 0;
}

.text_label {
    display: inline-block;
    position: absolute;
    bottom: 18px;
    left: 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -.2px;
    color: #737373;
    pointer-events: none;
    box-sizing: border-box;
    z-index: 5;
}
/* input이 focus되거나 on 상태일 때 */
.input_item.focus .text_label,
.input_item.on .text_label {
    left: 7px;
    bottom: 30px;
    font-size: 12px;
    padding: 0 8px;
    letter-spacing: -.8px;
    white-space: nowrap;
    width: auto;
}


/*로그인상태유지 css*/
.login_keep_wrap {
    position: relative;
    margin-top: 12px;
    padding-right: 90px;
}

.keep_check {
    position: relative;
    display: inline-block;
    padding-left: 26px;
    cursor: pointer;
}

.keep_check::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-position: -292px -236px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-color: #fff;
}

.keep_check.check::before {
    background-position: -66px -292px;
}

.keep_check.check .keep_text {
    color: #303038;
}

.keep_check .keep_text {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #767678;
}

/*로그인 버튼 css*/
.btn_login_wrap {
    margin-top: 20px;
}

.btn_login {
    position: relative;
    display: block;
    width: 100%;
    padding: 13px 20px;
    border-radius: 8px;
    background-color: #365cff;
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border: none;
}

.btn_login.off {
    background-color: #a5adb8;
    cursor: default;
    font-weight: 400;
}

.btn_text {
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -.4px;
    color: inherit;
}
