@charset "UTF-8";

.manager_form input{
    width: 95%;
    height: 48px;
    padding: 0 18px;
    border: 1px solid #b9b9b9;
    border-radius: 28px;
    font-size: 15px;
    outline: none;
    transition: box-shadow .15s, border-color .15s;}

.custom-select{
    height: 48px;
    padding: 0 18px;
    border: 1px solid #b9b9b9;
    border-radius: 8px;
    font-size: 15px;}

.btn-add{
    margin-top: 40px;
    width: 99%;
    height: 50px;
    border: 0;
    border-radius: 26px;
    background: #365cff;
    color: #fff;
    font-size: 16px;}

.add_stadium{
    margin: 0 auto;
    width: 1100px;
    height: 600px;
    padding: 20px;
    border: 1px solid #0066ff;
    border-radius: 8px;
    margin-bottom: 40px;
}

.box1{
    margin-top: 50px;
}

.field{
    margin-top: 50px;
}
