<header style="background-color:#ffffff">
    <div class="header-magin">
        <div class="header-div1">
            <a href="{{ url_for("main.index") }}">
                <img  src="/static/img/logo3.png" alt="logo" >
            </a>
            <div id="h-d1-sid">
                {%if g.user %}
                <form id="h-d1-id">
                <a href="{{ url_for('matches.my_match_list',user_id=g.user.user_id) }}" class="nav-link">
                    <img class="me-3" src="https://d31wz4d3hgve8q.cloudfront.net/static/img/ic_mymatch.svg" alt="캘린더">
                </a>
                    <a class="nav-link me-3" href="{{ url_for("mypage.my_page",user_id=g.user.user_id) }}">
                        <img  src="https://d31wz4d3hgve8q.cloudfront.net/static/img/ic_my.svg" alt="마이페이지">
                        {{g.user.nickname}}
                    </a>
                </form>
                {%else%}
                <form id="h-d1-id">
                    <a class="h-d1-s-id1" href="{{ url_for("auth.signup") }}">회원가입</a>
                    <a class="h-d1-s-id2" href="{{ url_for("auth.login") }}">로그인</a>
                </form>
                {%endif%}
                <form id="h-d1-s">
                    <label id="h-d1-s-s" class="me-3">
                        <svg width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg" class="search_button">
                            <path fill-rule="evenodd"
                                  d="M13.28 8.18a5.1 5.1 0 11-10.2 0 5.1 5.1 0 0110.2 0zm-1.031 5.069a6.5 6.5 0 11.991-.989l4.695 4.695a.7.7 0 11-.99.99l-4.696-4.696z"></path>
                        </svg>
                        <input type="text" class="search" maxlength="64" tabindex="-1" value="" style="opacity: 1;">
                    </label>
                    <div class="hidden_search">
                        <div style="margin: -1px;">
                            <div class="hidden_s1">
                                <span>최근 검색어</span>
                                <div class="hidden_s11">
                                    <button class="hidden_button" type="button">검색어 저장 끄기</button>
                                </div>
                            </div>
                            <div class="hidden_s2">최근 검색어 내역이 없습니다.</div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</header>